:root{
    --text : #3e0220; 
    --primary-color: #800040;
    --secondary-color: #fdceae;
    --third-color: #ffffff;
}

*{
    box-sizing: border-box;
    font-family:'Lauren'
}

body{
    margin: 0;
    background-color: var(--third-color);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family);
    color: var(--primary-color);
}

header{
    padding: 20px;
    justify-items: center;
}

header .menu{
    list-style: none;
    justify-content: space-between;
    display: flex;
    width: 60%;
    padding: 0.6rem 2rem;
    border: var(--text) 1.5px solid;
    border-radius: 20px;
    align-items: center;    
}

header .menu li a{
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    padding: 0.5rem 1rem;
}

header .menu li a:hover{
    background-color: var(--primary-color);
    color: var(--third-color);
    border-radius: 20px;
}

.intro{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns:1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.intro h1{
    font-size: 5rem;
    text-shadow: #d03381 1px 1px 1.5px;
    font-family: 'Chiby';
}

.intro .roles{
    align-content: center; 
}

.intro .roles{
    font-size: 1.75rem;
}

.intro img{
    width: 300px;
    height: 350px;
    border-radius: 20%;
    object-fit: cover;
    justify-self: center;
}

/*SOBRE MI*/
#card-aboutme{
    width: 80%;
    margin: auto;
    margin-top: 4em;
    padding: 2rem;
    border: var(--text) 1px solid;
    border-radius: 20px;
    justify-content: center;
}

#card-aboutme h2{
    font-size: 2em;
    letter-spacing: 0.75cm;
}

#card-aboutme h3{
    margin-top: 5%;
    font-size: 1.75em;
    padding-left: 10%;
}

#card-aboutme h4{
    font-size: 1.25em;
    padding-left: 20%;
}

#card-proyectos {
    width: 80%;
    margin: auto;
    margin-top: 4em;
    padding: 2rem;
    border: var(--text) 1.5px solid;
    border-radius: 20px;
}

#card-proyectos h2{
    font-size: 2em;
    letter-spacing: 0.75cm;
}

/*CONTACTO*/
#card-contacto{
    width: 80%;
    margin: auto;
    margin-top: 4em;
    padding: 2rem;
    border: var(--text) 1.5px solid;
    border-radius: 20px;
}

#card-contacto h2{
    font-size: 2em;
    letter-spacing: 0.75cm;
}

#card-contacto .correo{
    margin: 2%;
    font-size: 1.75em;
    text-decoration: none;
}

#card-contacto img{
    width: 4%
}

#card-contacto img, p{
    display:inline;
    margin-left: 5rem;
}

/*FOOTER*/
.footer {
    margin: 2%;
    font-size: 0.8em;
    text-align: center;
}

/*hoover img*/
#card-proyectos .hovereffect {
  width: 100%;
  height: 40%;  
  float:left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor:auto;
  border-radius: 8%;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 70%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url();
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

 /*FUENTES*/
@font-face {
    font-family: 'Neue Regular';
    src: url(/font/ComicNeue-Regular_1.otf);
}

@font-face {
    font-family: 'Neue Bold';
    src: url(/font/AnyConv.com__ComicNeue-Bold.otf);
}

@font-face {
    font-family: 'Chiby';
    src: url(/font/AnyConv.com__Super\ Chiby.otf);
}

@font-face {
    font-family: 'Lauren';
    src: url(/font/AnyConv.com__Champagne\ &\ Limousines.otf);
}

